@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 70, 71, 74;
  --backgroundLight-rgb: 60, 60, 60;
  --primary-rgb: 255, 214, 1;
  --secondary-rgb: 121, 85, 72;
  --text-rgb: 244, 242, 238;
}

body {
  @apply font-serif bg-background text-text;
}

.book-list {
  @apply grid grid-cols-1 md:grid-cols-2;
}

.book {
  @apply m-3 w-[90%] flex justify-center bg-backgroundLight rounded-xl p-4;
}

.book-image {
  @apply border-2 border-transparent rounded-xl mx-auto;
}

.book-info {
  @apply flex flex-col items-center w-2/3 gap-2 justify-evenly text-center;
}